<launch>
  <rosparam file="/home/varun/catkin_ws/src/hero_plus/hero_bringup/config/parameter.yaml" command="load"/>
  <arg name="lmax" default="0.1"/>
  <arg name="amax" default="0.5"/>
  <arg name="ltres" default="0.1"/>
  <arg name="atres" default="0.5"/>
  <arg name="lf" default="0.1"/>
  <arg name="af" default="0.5"/>
  <arg name="threshold_dist" default="0.37"/>
  <arg name="max_dist" default="1.0"/>
  
  <node pkg="hero_bringup" type="behavior_rec.py" name="behavior_rec" output="screen"/>

  <node pkg="hero_bringup" type="multi_robot_controller.py" name="multi_robot_controller" output="screen"/>
  <param name="linear_true_max" value="$(arg lmax)"/>
  <param name="angular_true_max" value="$(arg amax)"/>
  <param name="linear_true_tres" value="$(arg ltres)"/>
  <param name="angular_true_tres" value="$(arg atres)"/>
  <param name="linear_false" value="$(arg lf)"/>
  <param name="angular_false" value="$(arg af)"/>
  <param name="threshold_dist" value="$(arg threshold_dist)"/>
  <param name="max_dist" value="$(arg max_dist)"/>
</launch>
