<launch>
  <rosparam file="/home/varun/catkin_ws/src/hero_common/hero_bringup/config/parameter.yaml" command="load"/>
  <arg name="lmax" default="0.1"/>
  <arg name="amax" default="0.5"/>
  <arg name="lf" default="0.1"/>
  <arg name="af" default="0.5"/>
  
  <node pkg="hero_bringup" type="multi_robot_controller_ir.py" name="multi_robot_controller_ir" output="screen"/>
  <param name="linear_true_max" value="$(arg lmax)"/>
  <param name="angular_true_max" value="$(arg amax)"/>
  <param name="linear_false" value="$(arg lf)"/>
  <param name="angular_false" value="$(arg af)"/>
</launch>
